# Default OS files
.DS_Store

# Vagrant/VM related files
/Vagrantfile
/.vm_aliases
/.vagrant
/.lando.local.yml

# IDE/Editor files
/.idea
/.vscode

# Frontend files
/mix-manifest.json
/node_modules/
/storybook-static/
build-storybook.log
/themes/app/dist
/cypress/screenshots
/cypress/videos
cypress.env.json
/coverage
/reports
/.nyc_output
/.lighthouseci

# Testing
cypress/downloads/

# Silverstripe/PHP specific
/.env
/public/_resources/
/vendor/
/silverstripe.log
/.graphql-generated/
/public/_graphql/
.phpunit.result.cache
